<!DOCTYPE html>
<html>
<head>
  {% block startup %}{% endblock %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Hunter Damron">

  <!-- Description -->
  <title>Snapper</title>

  {% block morehead %}{% endblock %}
</head>

<body onLoad="loaded()">
  {% block content %}No Content{% endblock %}

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='highlights.css') }}">
</body>
</html>
